.icon-holder {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 1px;
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: row;
    width: 19%;
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
    cursor: pointer;
   
}

.icon-text {
    font-size: 11px;
    font-weight: 700;
    padding: 5px;
}

.cart-text {
    font-size: 11px;
    font-weight: 700;
    padding-top: 3px;
}