/* Common styles for all screen sizes */
.hero-section {
    display: flex;
    flex-direction: row;
}

.hero-img {
    border-top: 1.5px solid #c5bdbd;
    border-right: 1.5px solid #c5bdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    position: absolute;
}

.category-text {
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

/* Media Queries */

/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .category-text {
        font-size: 36px; /* Adjust font size for smaller screens */
        margin: 20px; /* Adjust margin for smaller screens */
    }

    /* Adjust other styles for smaller screens as needed */
}

/* For screens larger than 768px (e.g., desktop) */
@media (min-width: 769px) {
    /* Add specific styles for larger screens if needed */
}
